head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	title Контакты
	link(href='css/vendor/bootstrap/bootstrap.min.css', rel='stylesheet')
	link(href='css/main.css', rel='stylesheet')
	link(rel="shortcut icon" href="favicon.ico")
	script(src='js/vendor/angular/angular.min.js')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
	script(src = '//code.jquery.com/ui/1.11.2/jquery-ui.js')
	script(src='js/vendor/angular/angular-route.min.js')
	script(src='js/vendor/jquery-file-upload/jquery.fileupload.js')
	script(src='js/vendor/jquery-file-upload/jquery.fileupload-angular.js')
	script(src="https://cdn.firebase.com/js/client/2.0.4/firebase.js")
	script(src="https://cdn.firebase.com/libs/angularfire/0.9.2/angularfire.min.js")
