script(src='js/vendor/angular/angular.min.js')
script(src='js/vendor/angular/angular-route.min.js')
script(src="https://cdn.firebase.com/js/client/2.0.4/firebase.js")
script(src="https://cdn.firebase.com/libs/angularfire/0.9.2/angularfire.min.js")
script(src='js/vendor/jquery-file-upload/jquery.fileupload.js')
script(src='js/vendor/jquery-file-upload/jquery.fileupload-angular.js')
script(src='js/vendor/jquery-file-upload/jquery.fileupload-process.js')
script(src='js/app/controller/ContactController.js')