@font-face
	font-family SegoeUILight
	src url("../font/SegoeUILight/SegoeUILight.eot")
	src url("../font/SegoeUILight/SegoeUILight.eot?#iefix")format("embedded-opentype"), url("../font/SegoeUILight/SegoeUILight.woff") format("woff"), url("../font/SegoeUILight/SegoeUILight.ttf") format("truetype");
	font-style normal
	font-weight normal

@font-face
	font-family SegoeUIRegular
	src url("../font/SegoeUIRegular/SegoeUIRegular.eot")
	src url("../font/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"), url("../font/SegoeUIRegular/SegoeUIRegular.woff") format("woff"), url("../font/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
	font-style normal
	font-weight normal

rounded(r)
	border-radius r

cf()
	&:before
	&:after
		content ""
		display table
	&:after
		clear both
	zoom 1 if support-for-ie
	
html
body
	height 100%
	
.wrapper
	width 100%
	height 100%
	background url('../img/bg/bg.png')
	background-size 100% 100%
	
.page
	position absolute
	top 50%
	left 50%
	width 800px
	height 441px
	transform translate(-50%, -60%)
	
*::selection
	background-color: transparent

.page-app 
	width 800px
	height 456px
	
.page__title
	font 24px SegoeUIRegular
	color #000
	text-transform uppercase
	text-align center
	margin-bottom 0px
	
.page-head
	margin-top 10px
	height 40px

.page-head__info
	margin-top 25px	

.page-head__col
	&__right
		cf()

.page-main
	rounded(5px)
	cf()
	background-color #eeeced
	padding 0

	
.page-table
	font 12px/34px SegoeUIRegular
	cursor pointer
	margin 0
	th 
		font-size 14px

.page__btn
	display block
	float right
	width 34px
	height 40px
	font-size 0
	margin-right 10px
	padding 0
	&:first-child
		margin-right -5px
	background url(../img/icons/ic-sprite.png) transparent
	&__tile
		background-position right top
		&:hover
			background-position right bottom
	&__list
		background-position left top	
		&:hover
			background-position left bottom	
.btn-add
	box-sizing border-box
	font 14px SegoeUIRegular
.page-contact-tile
	padding 5px 0 15px
	background-color #f5f1f2

.page-contact-list
	padding 33px 20px

.page-contact-list
.page-contact-tile
	margin-top 15px
		
.contact-tile
	float left
	width 20%
	margin-bottom 0
	margin-top 10px
	cursor pointer
	&__name
		font 12px SegoeUIRegular
		margin-top 8px
		margin-bottom 0px
	&__number
		font 12px SegoeUIRegular
		margin-top 0px
		margin-bottom 0px
	&__list
		padding 0
		margin 0
		list-style none
	&__img
		margin-top 0px
		background-color #eeeeee
		width 130px
		height 130px
		max-width 130px
		max-height 130px
		border 1px solid #cccccc
		rounded(5px)

.contact-form
	padding 40px 0 40px
	background-color #f3efef

.contact-form__group
	margin 15px 0 0 0
	&:first-child
		margin-top 0
			
.contact-form__input
	width 100%
	margin-top 17px
	line-height 27px
	&:first-child
		margin-top 8px
		
.thumb-container
	width 202px
	padding 0
	margin 0 auto

.form-contact__btn
	font 13px SegoeUIRegular
	display block
	background-color #ffffff
	width 90px
	&__left
		float left
	&__right
		float right

.contact-form__img
	min-height 200px
	min-width 200px
	rounded(7px)
	border 1px solid #cccccc
	background-color #eeeeee

.thumb-desc 
	margin-top 10px
	cf()
	
.contact-form__label
	font 14px SegoeUIRegular
	color #010101
	width 100%

.contact-form__col
	padding-left 27px
	padding-right 98px
	padding-top 0px
	&__thumbnail
		width 200px
		padding 0
		margin 0 auto
		
.page-head__btn__back
	display block
	width 26px
	height 26px
	background url(../img/icons/btn-back.png) left top
	border 0
	outline 0
	margin-left 14px
	&:hover
		background-position right top
		
.contact-form__input-icon
	width 38px
	background-color #eeeeee
	background url(../img/icons/input-icons.png) no-repeat
	&__email
		background-position left 3px
	&__phone
		background-position right 3px